head{
    background-color: cornflowerblue;
}

div{
    background-color: darksalmon;
}

.navbar{
    background-color: deeppink;
}

.content{
    background-color: azure;
}

.footer{
    background-color: darkseagreen;
}
