* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
}

.navigation a:hover,
.navigation a.active {
    color: #333;

}

.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 40px;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: .5s;
}
.navigation a:hover span,
.navigation a.active span
{
    transform: scale(1);
    opacity: 1;

}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('photo_5240093382724929394_y.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 4px 5px #737875;
}
.sec {
    position: relative;
    background: #6a6868;
    padding: 100px 30px;
}

.sec h2 {
    font-size: 3em;
    color: #2a2929;
    margin-bottom: 10px;
}

.products .card {
    width:110px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 5px;
    width: 100%;
}

.products .card .desc {
    padding: 5px 20px;
    opacity: 0.8;

}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;

}

.buy {
    color: white;
    font-weight: 500;
    background-color: black;
    display: flex;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10%;
    border: 1px solid black;
}

.buy:hover {
    background-color: #2a2929;
    color: white;
}
